:root
{
    --white : white;
    --black : black;
    --blacklight : rgb(37, 36, 36);
    --lightgrey : rgba(215, 210, 210, 0.975);
    --grey : grey;
    --heavygrey : rgb(68, 68, 68);
    --orange : rgb(255, 149, 0);
    --red : red;
    --green : green;
    --blue : rgb(106, 106, 251);
    --azure : rgba(118, 128, 125, 0.731);

    /******** toggling color ****/
    --sky : rgb(156, 228, 232);
    --orangpink : rgb(254, 157, 172);
    --heavypink : rgb(227, 122, 140);
}

body
{
    background-color: var(--black );
    padding : 0em 4em; 
}

.container
{
    background: var(--grey);
    width : auto;
    height : 100wh;
    padding: 2em 12em;
}

.main
{
    width : auto;
    height : auto;
    border-radius: 2em;
    display : flex
}

.left
{
    background-color: var(--heavygrey);
    width: 26%;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em; 
    padding : 1em;
}

.search
{
    width : 90%;
    height: 3em;
    border-radius: .5em; 
    margin-top : 2em;
    background-color: var(--grey);
}

/**********element ******/
.element
{
    display: flex;
    flex-wrap: wrap;
    flex : 1;
    width : auto;
    height : auto;
    justify-content: center;
    gap : 1em;
    margin : 2em 0;
}

.element > div
{
    width: auto;
    height: auto;
    border: 1px solid ;
    border-radius: 1em;
    background-color: var(--lightgrey);
    padding : 1%;
    
}

.element > div > div
{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: bottom;
}


/* ********* */

.element > :nth-child(3)
{
    background: var(--orange);
}

.element > div > div 
{
    display: flex;
    justify-content: space-between;
    width: 9em;
    height: 2em;
    color: var(--white);
}

span
{
    margin: 3%;
}

.number
{
    font-size: 1.5rem;
}

.teachicone,.rmicone, .clicone, .tricone
{
    background-color: var(--orange);
    width: 2em;
    height : 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.teachicone
{
    background-color: var(--blue);
}
.rmicone
{
    background-color: var(--green);
}

.tricone
{
    background-color: var(--red);
}

/* *************** */
.selection
{
    width : 100%;
    height: 3em;
    border-radius: 1em;
    border: 3px solid var(--orange);
}


/* **********div righ */

.right
{
    background-color: var(--blacklight);
    width: 74%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    color : var(--white)
}

.rightheader
{
    padding: 1.5em 0.5em 1em ;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}


.rightheader > div:nth-child(1)
{
    width : auto;
    display: flex;
    /* border: 1px solid white; */
    padding: .3em;
}

#btoggle
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width : 2.1em;
    height : 1.2em;
    border-radius: 2em;
    background-color: var(--white);
    margin-right: 1em;
}

#btoggle .slider
{
    position : absolute;
    top: .1em;
    left: .1em;
    width : 1em;
    height : 1em;
    border-radius: 50%;
    background-color: var(--blacklight);
    transform: scale(0.9);
    transition : 0.5s
}





.postheader1
{
    width : 4em;
    margin: 1em;
}

.postheader2
{
    width : 100%;
    /* padding : .1em 0 .1em 1em; */
    background-color: var(--heavygrey);
    border-radius: 2em;
    margin-bottom: 0.1em;
    display: flex;
}
.space
{
    width : 15%;
}

.heure
{
    width : 100%;
    display: flex;
}

.heure span
{
    flex :1;
}

.day-content 
{
    position : relative;
    display: flex;
    width : 100%;
}


.postheader3
{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.postheader3 > div
{
    width : auto;
    height: 6em;
    border-radius: 1em;
    display: flex;
    padding : 0.1em;
}

.postheader3 > div > div
{
    height :auto;
}
.postheader3 > div > div:nth-child(1)
{
    width: 14%;
    border: 1px solid var(--grey);
    margin-right : 0.1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    font-size: 1.2rem;
}

.iconeday
{
    color: var(--green);
}

.postheader3 > div > div:nth-child(2)
{
    width: 86%;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    background-color: var(--azure);
}

/******* toggling *****/
#btoggle.active .slider
{
    left : 1em;
    background-color: var(--white);
}

#btoggle.active 
{
    left : 1em;
    background-color: var(--black);
    border: 1px solid var(--white);
}

.container.active
{
    background-color: var(--white);
}

.left.active, .postheader2.active
{
    background-color: var(--sky);
}


.right.active, .rightheader.active
{
    background-color: var(--orangpink);
}

.rightheader.active
{
    
    border-top-right-radius: 1em;
}

.jr1.active, .jr2.active, .jr3.active, .jr4.active, .jr5.active, .jr6.active
{
    background-color: var(--heavypink);
}

 .jh1.active 
{
    background-color: var(--azure);
}




