*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 950px;
}
.conteneur{
  background-color: #eee;
  border: 8px solid #3a4452;
}
form{
    background-color: #3a4452;
    width: 600px;
   border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
form div{
    display:flex;
    justify-content: space-around;
    padding: 10px; 
}
form div input{
    width: 100px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin: 7px;
    color: #eee;
    font-size: 27px;
    box-shadow: -8px -8px 0px rgba(255, 255, 255, .1),5px 5px 15px rgba(0, 0, 0, .2);
    background-color: transparent;
    cursor: pointer;
}

.champ{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .champ input,.champR input{
    color: #000;
    font-size: 35px;
    width: 100%;
    box-shadow: none;
}
.champR,.champ{
    width: 90%;
}
.champR input{
    text-align: right;
}

.toggle input[type="checkbox"] {
    position: relative;
    width: 70px;
    height: 40px;
    background: red;
    -webkit-appearance: none;
    border-radius: 25px;
    outline: none;
    transition: .3s;
    box-shadow:  none;
    cursor: pointer;
  }
  
.toggle input:checked[type="checkbox"] {
    background: #084410;
  }
  
 .toggle input[type="checkbox"]::before {
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    width: 40px;
    height: 40px;
    background: #3a4452;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .3s;
  }
  
  input:checked[type="checkbox"]::before {
    left: 30px;
  }
label {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    pointer-events: none;
  }
  .toggle {
    position: relative;
    display: inline;
    margin-left: 470px;
  }
  .onbtn {
    bottom: 33px;
    left: 25px;
  }
  
  .offbtn {
    bottom: 33px;
    right: 25px;
    color: #fff;
  }