*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: antiquewhite;
    width: 98%;
    height: 90vh;
}
.header{
    width: 35%;
    height:45vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    gap: 20px;
    box-shadow: 1px 4px 4px 7px #32a1ce;
}
h2{
    font-size: 25px;
   
}
ul{
    list-style-type:none;
    margin: 1rem;
}
ul li{
    font-size: 1.5rem;
    margin: 1.2rem 0;
}
ul li label{
    cursor: pointer;
}
button{
    margin-bottom: -10%;
    margin-right: 0;
    background-color: blueviolet;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
}
button:hover{
    background-color: aqua;
}
button:focus{
    outline:dotted black;
    background-color: green;
}